html {
	height: 100%\9;
	overflow: hidden\9;	
}	
body {
	/* background: #fff url(../img/samplePageBodyBg.png) top left repeat-x;	 */
	height: 100%\9;
	overflow: hidden\9;	
}

button {
	
	cursor: pointer;
	cursor: hand\9;
}
#top {
	background-color: #fff;
	background-image: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(150, 150, 150, 2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(150, 150, 150, 2);
	box-shadow: 0px 0px 5px 0px rgba(150, 150, 150, 2);
}
#top #top-wrapper h1 {
	position: relative;
	display: inline-block;
	float: left;
	width: 60px;
}
#top #top-wrapper h1.title{	
	width: 100px;
	line-height: 46px;
	font-weight: normal;
	color: #3d3d3d;

	}

	#top #top-wrapper h1 a{ 
		cursor: default;
	}

	#top #top-wrapper h1 span.co-logo{
		background: url(../img/sprite.png) no-repeat;
		background-position: 0px -118px;	
		background-size: 91px 151px;
		background-position-x: -122px\9;
		background-position-y: -234px\9;
		width: 60px;
		height:33px;
	}

	#top #top-wrapper button{
		float: right;
		margin-top: 8px;
	}
	#top-shadow {
		top: 39px;
	}		
	
span.indicator-down {
	display:none;
	position: fixed;
	bottom: 500px;
	right: 110px;
	z-index: 1000;
	background: url(../img/sprite.png) no-repeat;
	background-position: 0px 0px;	
	background-size: 104px 167px;
	background-position-x: -111px\9;
	height: 130px;
	width: 72px;
}
#content .sample {
	clear: both;
	display: block;
	height: 200px;
}

#content .sample .logo,	
#content .sample .nav {
	font-family: BrandonGrotesqueLight,"Brandon Grotesque Light", Georgia, Serif;
	color: #999;
	font-size: 160%;
}

@media (max-width: 639px) {
	#content .sample .nav {
		display: none;
	}
}

#content .sample .logo {	
	float: left;
}

#content .sample .nav {
	float: right;
	word-spacing: 60px;
}

#content #teaser {
	display: block;
	}

#content #livechat {
	display: block;
	position: fixed; 
	bottom: 0px; 
	width: 400px; 
	height: 450px; 
	margin-left: 700px;
	background: #ccc;
	border: 1px solid #aaa;
}	


#content h1 {
	font-family: BrandonGrotesqueBold,"Brandon Grotesque Bold", Georgia, Serif;
	font-size: 190%;
	font-weight: normal;
	color: #333;
	
	display: block;
	width: 770px;
	padding-bottom: 30px;
	vertical-align: text-top;
}

@media (max-width: 801px) {
	#content h1 {
		width: 100%;
		box-sizing: border-box;
	}
}

h1.previewSampleWebsite {
	line-height: 1.4em;
}
h1.previewSampleWebsite,
h1.previewOwnWebsite {
	min-height: 120px;
}

@media (max-width: 801px) {
	h1.previewSampleWebsite br {
		display: none;
	}
}
	#content h1 a {
		color: #4D7CB3;
	}
	#content h1 em{
		font-style: normal;
	}
	
	#content h1 form{
		display: inline;
	}

	#content h1 input.text{
		border-radius: 3px;
		border: 1px solid #aaa;
		color: #999;
		font-size: 70%;
		padding: 4px;
		outline: none;
	}

	#content h1 input.text:hover {
		border-color: #1b8df1;
	}
	
	#content h1 input.text:focus{
		border-color: #1b8df1;
		color: #333;
	}
	
	#content h1 button{
		vertical-align:top;
	}

#content .sample-content{
	color: #999;
}

#content .sample-content ul{
	list-style-type: none;
	padding-bottom: 30px;
	}
	
	#content .sample-content li{
		display: inline-block;
		padding: 165px;
		margin: 10px;
		background: url(../img/samplePageBodyBg.png) top left repeat-x;
		border: 5px solid #f2f2f2;
		border-radius: 10px;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(200, 200, 200, 2);
		-moz-box-shadow: 0px 2px 5px 0px rgba(200, 200, 200, 2);
		box-shadow: 0px 2px 5px 0px rgba(200, 200, 200, 2);
	}
	 
	#content .sample-content p {
		width: 61%;
		line-height: 30px;
		text-align: justify;
	}

	@media (max-width: 801px) {
		#content .sample-content p {
			width: 100%;
			box-sizing: border-box;
		}
	}
	
		
		#button-container{
			margin: 0 auto;
			padding: 0px;
			width: 1100px;
			position: relative;
			z-index: 1000;
			height: 0px;
		}
		#button-container .button-wrapper{
			position: absolute;
			margin-left:800px;
			top: 260px;

		}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2) {
	
	#top #top-wrapper h1 a span.co-logo{
			background-position: 0px -118px;	
			background-size: 91px 151px;
			width: 60px;
			height:33px;
		}

	span.indicator-down {
		background-position: 0px 0px;	
		background-size: 104px 167px;
		height: 130px;
		width: 70px;
	}

	}
