html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
	font-family: Helvetica, Arial, sans-serif;
}
#top {
	height: 48px;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
}
#top #top-wrapper {
	margin: 0 auto;
	max-width: 1100px;
	padding: 0 20px;
}
#top #top-wrapper h1 {
	float: left;
	height: 48px;
	width: 60px;
	margin-right: 15px;
	overflow: hidden;
}
#top #top-wrapper h1 span {
	position: absolute;
	top: 8px;
	left: 0;
}
#top-shadow {
	position: fixed;
	z-index: 9997;
	top: 38px;
	left: 0;
	height: 10px;
	width: 100%;
	content: "";
	-webkit-box-shadow: 0 3px 3px rgba(220, 220, 220, 0.4);
	-moz-box-shadow: 0 3px 3px rgba(220, 220, 220, 0.4);
	box-shadow: 0 3px 3px rgba(220, 220, 220, 0.4);
}
#content {
	margin: 0 auto;
	padding: 90px 20px 60px;
	max-width: 1100px;
	position: relative;
	z-index: 0;
}
.co-flags, .co-logo_big, .co-logo, .co-tutorial-arrow_up, .co-tutorial-arrow_right, .co-tutorial-arrow_left, .co-tutorial-arrow_down, .co-status_accepting, .co-status_notaccepting, .co-supervise, .co-tick, .co-tick_fade {
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/common.png);
	background-repeat: no-repeat;
}
.co-logo {
	background-position: -120px -16px;
	width: 60px;
	height: 33px;
}
.button {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border: 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px #bbbbbb;
  -moz-box-shadow: 0 1px 3px #bbbbbb;
  box-shadow: 0 1px 3px #bbbbbb;
}
.button > span {
  display: block;
  padding: 8px 30px 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.button:hover {
  text-decoration: none !important;
}
.button.small {
  font-size: 14px;
  line-height: 20px;
}
.button.small > span {
  padding: 4px 16px 6px;
}
.button.yellow {
  color: #7d480b;
  text-shadow: 1px 1px 0 #f5da99;
  background: #f2a324;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2a324), color-stop(1, #f7c652));
  background: -ms-linear-gradient(bottom, #f2a324, #f7c652);
  background: -moz-linear-gradient(center bottom, #f2a324 0%, #f7c652 100%);
}
.button.yellow > span {
  border-top: 1px solid #f7ca60;
  -webkit-box-shadow: inset 0 -1px 0 #cc8323, inset 0 1px 0 #fce29f;
  -moz-box-shadow: inset 0 -1px 0 #cc8323, inset 0 1px 0 #fce29f;
  box-shadow: inset 0 -1px 0 #cc8323, inset 0 1px 0 #fce29f;
}
.button.yellow:hover,
.button.yellow:active,
.button.yellow:focus {
  background: #ffaa22;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffaa22), color-stop(1, #ffcc55));
  background: -ms-linear-gradient(bottom, #ffaa22, #ffcc55);
  background: -moz-linear-gradient(center bottom, #ffaa22 0%, #ffcc55 100%);
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
}

.button.red {
	background: #e34840;
	color: #fff;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.button.red:hover {
	background: #e65d56;
}

.button.red:active,
.button.red:focus {
	background: #de2b21;
}

button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}
